.Pokeinfoblock {
  background-color: rgb(255, 127, 80);
  margin-top: 30px;
  padding-top: 1px;
  height: 12em;
}

.Pokedex {
  background-color: rgba(255, 99, 71);
  border-radius: 5px;
  padding: 20px;
  width: 15.5em;
  justify-self: center;
}

.Pokeimg {
  text-align: center;
  background-color: rgb(88, 211, 233);
}

.Pokenumber {
  text-align: center;
}

.Pokeinfo {
  text-align: center;
  text-transform: capitalize;
  font-weight: 800;
  padding-bottom: 15px;
}
